body {
    margin: 0px;
}

/* 
@media () {

}
desktop: 1200px
laptop:1024px
tablet:760px
mobile:480px
*/

ul.first {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    ul.first {
        font-size: 10px;
        display: none;
    }
}

li.money {
    list-style-type: none;
    padding-right: 20px;
    font-size: 15px;
}

a {
    text-decoration: none;
}

.fa-solid {
    padding-right: 5px;
}

main {
    background-image: url(pics/bg.png);
    background-repeat: repeat;
}

#intro {
    background-image: url(pics/electrical-power-systems-engineering.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

@media (max-width: 1024px) {
    #intro {
        height: 20vh;
    }
}

h1 {
    font-size: 40px;
    font-weight: 600;
    color: red;
    margin-top: 0px;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 15px;
        color: white;
    }
}

/*.mame {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}*/

h3 {
    margin-top: 0px;
    background-color: teal;
    font-size: 30px;
    font-weight: 400;
    padding: 30px 40px;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    h3 {
        font-size: 12px;
        padding: 10px 20px;
        font-weight: 500;
    }
}

p {
    font-size: 1.68rem;
    line-height: 2.88rem;
}

@media (max-width: 1024px) {
    p {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
    }
}

#frog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#noelle {
    background-color: white;
    width: 700px;
    margin: 24px;
}
@media (max-width: 1024px) {
    #noelle {
        width: 100px;
        margin: 10px;
    }
}

.Asta {
    width: 700px;
    height: 100%
}
@media (max-width: 1024px) {
    .Asta {
        width: 100px;
        height: 100%
    }
}

.king {
    background-color: white;
    margin-left: 24px;
    width: 500px;
}

.is {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 70px;
}
@media (max-width: 1024px) {
    .is {
        font-size: 10px;
        padding-left: 30px;
        font-weight: 500;
    }
}

li.jog {
    list-style-type: disc !important;
    font-size: 1.68rem;
    line-height: 2.88rem;
}
@media (max-width: 1024px) {
    li.jog  {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}